.gdpr-container {
    background: #CD8935;
}

.gdpr-container .gdpr-consent-message,
.gdpr-container .gdpr-consent-message > a {
    color: #fff;
}

.gdpr-container .gdpr-buttons-container .gdpr-agree-button,
.gdpr-container .gdpr-buttons-container .gdpr-disagree-button {
    min-width: 95px;
    line-height: 35px;
}

.gdpr-container .gdpr-buttons-container .gdpr-agree-button {
    background: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #CD8935;
}

.gdpr-container .gdpr-buttons-container .gdpr-agree-button:hover {
    background: linear-gradient(0deg, rgba(205, 137, 53, 0.1), rgba(205, 137, 53, 0.1)), #FFFFFF;
}

.gdpr-container .gdpr-buttons-container .gdpr-disagree-button {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
}

.gdpr-container .gdpr-buttons-container .gdpr-disagree-button:hover {
    background: rgba(255, 255, 255, 0.1);
}