.idea/
node_modules/
htdocs/
.DS_Store
src/css/gdpr.css
src/css/localGDPR.css
src/js/xsolla-login.js
src/js/gdpr.js
src/js/localGDPR.js
src/js/swiper.min.js
src/js/webfont.js
src/js/jquery.localizationTool.min.js
src/js/localization.js
src/js/date-timer.js
src/js/prices.js
src/js/selector.js
